* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.k-button-group {
  margin-bottom: 8px;
}

.login {
  width: 320px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}
